<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/teams">Teams</a></li>
        <li><a href="/players">Players</a></li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/statistics">Statistics</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Add Team</h2>
   
    <form action="/teams" method="POST">

      <label for="teamName"> <span>Team Name:</span></label>
      <input type="text" id="teamName" name="teamName" required>
      
      <label for="country"><span>Country:</span></label>
      <input type="text" id="country" name="country" required>
      
      <label for="coach"> <span>Coach:</span></label>
      <input type="text" id="coach" name="coach" required>
      
      <button type="submit">Add Team</button>
    </form>
  </main>
  <footer>
  
  </footer>
</body>
</html>