<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header>
    <h1>Home page</h1>
    <nav>
      <ul>
        <li class="section-box"><a href="/">Dashboard</a></li>
        <li class="section-box"><a href="/teams">Teams</a></li>
        <li class="section-box"><a href="/players">Players</a></li>
        <li class="section-box"><a href="/schedule">Schedule</a></li>
        <li class="section-box"><a href="/statistics">Statistics</a></li>
        <li class="section-box"><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
  <main>
    
  </main>
  <footer>
    <!-- Your footer content goes here -->
  </footer>
</body>
</html>