body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url('https://i.ibb.co/DzXCyvb/football-stadium-night-generative-ai.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

nav a:hover {
  color: #ffd700; /* Change color on hover, e.g., to gold */
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.team-list {
  margin: 0;
  padding: 0;
}

.team-item {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
}
span {
  font-weight: bold;
  color: #3498db; /* Adjust the color as needed */
}
.player-list {
  list-style-type: none;
  padding: 0;
}

.player-item {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.player-item span {
  font-weight: bold;
  margin-right: 5px;
}