body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background-image: url('https://i.ibb.co/DzXCyvb/football-stadium-night-generative-ai.jpg'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0.5;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column; /* Display boxes in a column layout */
}

.section-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  flex: 1; /* Take equal space in the flex container */
  width: 80%; /* Set the width to 80% of the viewport width */
  margin: auto; /* Center the box horizontally */
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}